.global-header-container {
    display: flex;
    flex-direction: row;
    height: auto; /* Cambiar de 100vh a auto para no afectar el fondo completo */
    background-color: transparent; /* Cambiar de morado a transparente */
    position: sticky;
    top: 0;
    z-index: 10;
}


/* Menú lateral */
.menu-container {
    width: 240px; /* Tamaño fijo para evitar desbordes */
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: width 0.3s;
    position: fixed;
    left: 0;
    top: 0;
}

.menu-container.collapsed {
    width: 80px; /* Tamaño reducido al colapsar */
}

.menu {
    margin-top: 48px; /* Alineación con el encabezado */
    height: calc(100vh - 48px); /* Ajusta la altura del menú */
    overflow-y: auto; /* Permite el scroll si hay demasiados elementos */
}

.collapse-btn {
    background-color: #7f34b4;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 16px;
    padding: 8px;
    transition: background-color 0.3s;
}

.collapse-btn:hover {
    background-color: #5d2393;
}

/* Encabezado Global */
.global-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: calc(100% - 240px); /* Ajusta con respecto al tamaño del menú */
    margin-left: 240px;
    padding: 0 16px;
    background-color: #22075e;
    box-shadow: inset 0px -1px 0px #f0f0f0;
    transition: margin-left 0.3s, width 0.3s;
}

.menu-container.collapsed ~ .global-header {
    margin-left: 80px;
    width: calc(100% - 80px);
}

/* Logo */
.logo h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}

/* Barra de herramientas */
.toolbar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.badge-icon,
.user-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.badge {
    background: #ff4d4f;
    color: #ffffff;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-wrapper img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.user-wrapper .user-name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #ffffff;
}
